/* .header {
    display: inline-block;
    padding: 20px;
}

.header_all {
    padding: 20px;
    width: 100%; 
    background-color: rgb(30, 28, 141);
}

head h1 {
    color:rgb(255, 255, 255);
    font-size: 300px;
}

.header .Nav_Links {
    margin-left: 15px;
}

.subheader {
    padding: 20px;
    width: 100%; 
    background-color: rgb(75, 73, 143);    
}

body h3 {
    padding: 20px;
    background-color: blueviolet;
}

/* body.About_Me {
    display: inline-block;    
} */

/* #About_Me {

} */ */