header {
    padding: 4vw;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: rgb(32, 22, 56);
}

header h1,nav,p,li,ul,a {
    display: inline-block;
}

header h1 {
    font-size: 35px;
    color: aliceblue;
}

.head_nav {
    /* padding-top: 2.5px; */
    float: right;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}

header p {
    padding-right: 18px;
    padding-left: 18px;
}

body {
    /* background-color: rgb(39, 39, 39); */
    background-color: rgb(163, 158, 162);
}

body h2 {
    width: 100%;
    padding-left: 4vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    color: rgb(240, 248, 255,.6);    
    background-color: rgb(32, 22, 56, 0.6);
    text-decoration: none;
}

.Section {
    display: flex;
    padding: 20px;
    display: inline-flex;
}

.Content_Heading {
    margin-left: 5vw;
    font-size:20px;
    color: rgb(39, 39, 39);
    padding: 20px;
    width:200px;
    background-color: rgb(245, 245, 245,.9);
    text-align: right;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.Content {
    margin-right: 5vw;
    border-left: 10px solid rgb(55, 38, 95);
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: rgb(245, 245, 245,.7);
    text-align: left;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 1.4;
}

.Content img {
    border-radius: 25px;
    width: 400px;
    height: 300px;
}

.Content #Featured_Work {
    width: 800px;
    height: 300px;
}